<!DOCTYPE html>
<html>
  <head>
    <title>Consulting</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <style>
        .hero {
            background-color: black;
            padding: 60px 0;
            text-align: center;
        }
        .hero h1 {
            font-size: 3rem;
            color: #FFD700;
        }
        .hero p {
            font-size: 1.5rem;
            color: #FFD700 !important;
        }
        .navbar-brand {
            font-weight: bold;
        }
        .middle-section h1 {
          color: #FFFFFF !important;
        }
        .middle-section h2 {
            color: #FFD700;
        }
        .middle-section p {
          font-size: 1.2rem !important;
        }
        body {
          background-color: black;
          color: #FFD700 !important;
        }
        
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
